* {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: url('wave top.png');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 3rem;
	font-weight: 600;
	color: #0a470c;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

label {
	font-size: 1.25rem;
	font-weight: 600;
}

input {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin: 10px;
	background-color: #e7e5e5;
	outline: none;
}

button {
	background-color: #4caf50;
	color: white;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

button:hover {
	background-color: #307032;
	scale: 1.1;
}

.results {
	margin-top: 50px;
	text-align: center;
	font-size: 1.25rem;
	color: #000000;
	width: 800px;
	margin: 0 auto;
	padding: 2rem 1rem;
	border-radius: 10px;
	background-color: #ffffff62;
}

.results h1,
.results h2,
.results h3 {
	text-transform: capitalize;
	line-height: 2rem;
	font-weight: 600;
}

.results p {
	text-transform: uppercase;
	line-height: 1.75rem;
	font-weight: 400;
}

.clear {
	display: block;
	margin: 1rem auto;
}

.search-terms {
	margin-top: 50px;
	text-align: center;
	font-size: 1.25rem;
	color: #000000;
	width: 800px;
	margin: 0 auto;
	padding: 2rem 1rem;
	border-radius: 10px;
	background-color: #ffffff62;
}

.search-terms p {
	line-height: 1.75rem;
	text-transform: capitalize;
	color: #0a470c;
}

.hidden {
	display: none;
}

@media only screen and (max-width: 375px) {
	body {
		background-image: url('wave top.png');
		background-repeat: no-repeat;
		background-size: cover;
		overflow: scroll;
	}

	h1 {
		color: #0a470c;
	}

	form {
		margin: 1rem;
	}

	.results {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
		margin: 1rem;
	}

	.results h3 {
		font-size: 1rem;
	}

	.results p {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 780px) {
	body {
		background-image: url('wave top.png');
		background-repeat: no-repeat;
		background-size: cover;
		overflow: scroll;
	}

	h1 {
		color: #0a470c;
	}

	.results {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
		margin: 1rem;
	}
}
